<html>
<head>
<meta charset="UTF-8">
<title>wallet</title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link rel="stylesheet" href="./css/input.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.css" integrity="sha256-AghQEDQh6JXTN1iI/BatwbIHpJRKQcg2lay7DE5U/RQ=" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

<!-- datapicker -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js" integrity="sha256-bqVeqGdJ7h/lYPq6xrPv/YGzMEb6dNxlfiTUHSgRCp8=" crossorigin="anonymous"></script>
<!-- datapicker 日本語化 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/locales/bootstrap-datepicker.ja.min.js" integrity="sha256-IX182a23hiQE65+kYOND1ZIX2Vpl0cHb96g9nJqqqW0=" crossorigin="anonymous"></script>
</head>
<body class="text-center">
    <div class="mx-auto">
        <div class="card" style="width: 70rem;">
            <main class="main">
                <div class = "expenses">
                    <h1 class="month"><input id="datepicker" type="text" />
                    <button type="button" class="btn btn-outline-primary add" data-bs-toggle="modal" data-bs-target="#addExpense">家計簿を追加する</button>
                    <button type="button" class="btn btn-outline-primary add" data-bs-toggle="modal" data-bs-target="#addCategory">項目を追加する</button>
                    <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">日付</th>
                        <th scope="col">支払い</th>
                        <th scope="col">項目</th>
                        <th scope="col">金額</th>
                        <th scope="col">内容</th>
                        <th scope="col">削除</th>
                      </tr>
                    </thead>
                    <tbody id="detailbody"></tbody>
                  </table>
                  <a href="" class="btn btn-secondary" id="go-back">戻る</a>
                </div><!-- expenses -->
            </main>
        </div>
    </div>

<!-- 家計簿を追加するためのモーダル -->
<div class="modal fade" id="addExpense" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel">家計簿を追加する</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <p class="text-danger"></p>
        <input id="expenseDate" type="date" class="form-control"> 
        <select id="expenseMember" class="form-control">
            <option selected="selected" id="0" value="0">メンバーを選択してください</option>
        </select>
        <select id="expenseCategory" class="form-control">
            <option selected="selected" id="0" value="0">項目を選択してください</option>
        </select>
        <input type="number" id="expensePrice" class="form-control" placeholder="金額" required="true" autofocus="">
        <input type="text" id="expenseDetail" class="form-control" placeholder="内容" required="" autofocus="">
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
    <button type="button" class="btn btn-primary" id="expenseReg">登録</button>
    </div>
    </div>
    </div>
    </div>

<!-- 家計簿削除確認用モーダル -->
<div class="modal fade" id="delete" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
    <h5 class="modal-title" id="staticBackdropLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <div>以下を削除します。よろしければ「削除」を押してください。</div><br>
        <ul class="list-group list-group-flush del-list">
            <li class="list-group-item" id="delDate"></li>
            <li class="list-group-item" id="delMem"></li>
            <li class="list-group-item" id="delCat"></li>
            <li class="list-group-item" id="delPrice"></li>
            <li class="list-group-item" id="delDet"></li>
        </ul>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
    <button type="button" class="btn btn-danger" id="deleteReg">削除</button>
    </div>
    </div>
    </div>
    </div>

<!-- 項目を追加するためのモーダル -->
<div class="modal fade" id="addCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
  <h5 class="modal-title" id="staticBackdropLabel">項目を追加する</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p class="text-danger"></p>
      <input type="text" id="categoryName" class="form-control" placeholder="項目名" required="" autofocus="">
  </div>
  <div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
  <button type="button" class="btn btn-primary" id="categoryReg">登録</button>
  </div>
  </div>
  </div>
  </div>

    <script>

        var groupId;
        const searchParams = new URLSearchParams(window.location.search)

        if (searchParams.has('id')){
            groupId = searchParams.get('id');
        } else {
            window.location.href = "error";
        }

        // hrefを書き換える
        let detail = document.getElementById('go-back');
        detail.setAttribute('href', "group?id=" + groupId);

        // 月をセッションストレージから取得(再読み込み時)
        var month = sessionStorage.getItem('month');

        // datepickerの設定
        $('#datepicker').datepicker({
            language: "ja",
            format: "yyyy年mm月",
            minViewMode: 1,
            maxViewMode: 2,   
        });

        // datepickerの初期値を設定
        if (month == null){
            $("#datepicker").datepicker("setDate", "2014/02/15");
        } else {
            var yyyy = month.substring(0,4);
            var mm = month.substring(4,6);
            var yyyyMM = yyyy + "年" + mm + "月";
            $("#datepicker").datepicker("setDate", yyyyMM);
        }

        // 初期の値を取得
        var month = $("#datepicker").datepicker().val();
        month = month.replace(/年/g, '');
        month = month.replace(/月/g, '');
        sessionStorage.setItem('month', month);

        // 日付変更時の処理
        $('#datepicker').on({
              changeDate:
                function(obj) {
                  var yyyy = obj.date.getFullYear();
                  var mm = obj.date.getMonth() + 1;
                  month = String(yyyy) + String(mm);
                  sessionStorage.setItem('month', month);
                  window.location.reload();
                }
            });

         // 家計簿の詳細を取得する
         $.ajax({
                url:`http://localhost:8080/api/expenses?groupid=${groupId}&month=${month}`,
                type: "GET",
                async: true,
                dataType: "json",
                contentType: "application/json",
                timeout: 5000,
                cache: false,
                success: function (responseData) {
                  // 成功時処理
                  var expenses = responseData.expenses;
                  sessionStorage.setItem('expenses', JSON.stringify(expenses));

                for (let i = 0; i < expenses.length; i++) {
                    $('#detailbody').append('<tr>'
                        +'<th scope="row">' + expenses[i].date +'</th>'
                        +'<td>'+ expenses[i].memberName + '</td>'
                        +'<td>'+ expenses[i].categoryName + '</td>'
                        +'<td>'+ expenses[i].price + '</td>'
                        +'<td>'+ expenses[i].detail + '</td>'
                        +'<td><button type="button" class="btn btn-danger delete-btn" data-bs-toggle="modal" data-bs-target="#delete" id="'+ i +'">削除</button></td>'
                        + '</tr>');
                 }
                },
                error: function  (xhr, textStatus, errorThrown) {
                  // 失敗時処理
                  window.location.href = "error";
                },
            });

        // 家計簿の小計・合計を取得する
        $.ajax({
                url:`http://localhost:8080/api/expenses-total?groupid=${groupId}&month=${month}`,
                type: "GET",
                async: true,
                dataType: "json",
                contentType: "application/json",
                timeout: 5000,
                cache: false,
                success: function (responseData) {
                  // 成功時処理
                  var total = responseData.total;
                  var memberSubTotal = responseData.memberSubTotal;
                  var categorySubTotal = responseData.categorySubTotal;

                  // 合計を追加
                  $("#total-price").text(total + '円');

                  // 会員ごとの合計を追加
                  for (let i = 0; i < memberSubTotal.length; i++) {
                    $('#memberbody').append('<tr><td>' +memberSubTotal[i].name + '</td><td>'+ memberSubTotal[i].total + '</tr>');
                　}

                  // 項目ごとの合計を追加
                  for (let i = 0; i < categorySubTotal.length; i++) {
                    $('#categorybody').append('<tr><td>' +categorySubTotal[i].name + '</td><td>'+ categorySubTotal[i].total + '</tr>');
                　}
                },
                error: function  (xhr, textStatus, errorThrown) {
                  // 失敗時処理
                  window.location.href = "error";
                },
            });

        // 家計簿モーダルの「登録」ボタン押下時の処理
        $('#expenseReg').on('click', function() {
            let date = document.getElementById('expenseDate').value;
            date = date.replace(/-/g, '');
            let memberId = document.getElementById('expenseMember').value;
            let categoryId = document.getElementById('expenseCategory').value;
            let price = document.getElementById('expensePrice').value;
            let detail = document.getElementById('expenseDetail').value;
            var arr = { groupid: groupId, 
                        date: date,
                        memberid: memberId,
                        categoryid: categoryId,
                        price:price,
                        detail: detail
                      };
            var expense_info = JSON.stringify(arr);

            // 家計簿の登録を行う
            $.ajax({
                url:`http://localhost:8080/api/expense`,
                type: "POST",
                async: true,
                dataType: "json",
                contentType: "application/json",
                timeout: 5000,
                cache: false,
                data: expense_info,
                success: function (responseData) {
                  // 成功時処理
                  $('#addExpense').modal();
                  $('#addExpense').modal('hide');

                  // リロードする
                  window.location.reload();
                },
                error: function  (xhr, textStatus, errorThrown) {
                  // 失敗時処理
                  var res = $.parseJSON(xhr.responseText);
                  $('.text-danger').text(res.errorMessage);
                },
            });
        });

        // 項目モーダルの「登録」ボタン押下時の処理
        $('#categoryReg').on('click', function() {
            let name = document.getElementById('categoryName');
            var arr = { groupid: groupId, categoryName: name.value };
            var member_info = JSON.stringify(arr);

            $.ajax({
                url:`http://localhost:8080/api/category`,
                type: "POST",
                async: true,
                dataType: "json",
                contentType: "application/json",
                timeout: 5000,
                cache: false,
                data: member_info,
                success: function (responseData) {
                  // 成功時処理
                  $('#addCategory').modal();
                  $('#addcCtegory').modal('hide');

                  // リロードする
                  window.location.reload();
                },
                error: function  (xhr, textStatus, errorThrown) {
                  // 失敗時処理
                  var res = $.parseJSON(xhr.responseText);
                  $('.text-danger').text(res.errorMessage);
                },
            });
        });

        // メンバーの一覧を取得する
        $.ajax({
            url:`http://localhost:8080/api/members?groupid=${groupId}`,
            type: "GET",
            async: true,
            dataType: "json",
            contentType: "application/json",
            timeout: 5000,
            cache: false,
            success: function (responseData) {
                // 成功時処理
                var members = responseData.members;
                for (let i = 0; i < members.length; i++) {
                    $('#expenseMember').append($('<option>').html(members[i].memberName).val(members[i].memberId));
                }
            },
            error: function  (xhr, textStatus, errorThrown) {
                // 失敗時処理
                window.location.href = "error";
                },
            });

            // 項目の一覧を取得する
            $.ajax({
                url:`http://localhost:8080/api/categories?groupid=${groupId}`,
                type: "GET",
                async: true,
                dataType: "json",
                contentType: "application/json",
                timeout: 5000,
                cache: false,
                success: function (responseData) {
                  // 成功時処理
                  var categories = responseData.categories;
                  for (let i = 0; i < categories.length; i++) {
                    $('#expenseCategory').append($('<option>').html(categories[i].categoryName).val(categories[i].categoryId));
                  }
                },
                error: function  (xhr, textStatus, errorThrown) {
                  // 失敗時処理
                  window.location.href = "error";
                },
            });

            // 削除モーダルの「削除」が押下された場合の挙動
            $(document).on("click", ".delete-btn", function (e) {
            var id = e.target.id;
            var expenses = JSON.parse(sessionStorage.getItem('expenses'));
            $('#delDate').text("日付：" + expenses[id].date);
            $('#delMem').text("メンバー：" + expenses[id].memberName);
            $('#delCat').text("項目：" + expenses[id].categoryName);
            $('#delPrice').text("金額：" + expenses[id].price);
            $('#delDet').text("内容：" + expenses[id].detail);

            var arr = { groupid: groupId, 
                        expensesid: expenses[id].expensesId,
                        month: month,
                      };
            var expense_info = JSON.stringify(arr);

            $('#deleteReg').on('click', function() {
            // 家計簿の更新を行う(削除)
            $.ajax({
                url:`http://localhost:8080/api/expense`,
                type: "DELETE",
                async: true,
                dataType: "json",
                contentType: "application/json",
                timeout: 5000,
                cache: false,
                data: expense_info,
                success: function (responseData) {
                  // 成功時処理
                  $('#delete').modal();
                  $('#delete').modal('hide');

                  // リロードする
                  window.location.reload();
                },
                error: function  (xhr, textStatus, errorThrown) {
                  // 失敗時処理
                  window.location.href = "error";
                },
            });
            });
        });

        // ボタンが押下されるたびにエラーテキストエリアを初期化する
        $('.add').on('click', function() {
          $('.text-danger').text('');
        });

      </script>
</body>
</html>